.fontweight {
    font-weight: bold;
    font-family: oblique;
    font-size: 1.5em;
    font-
}
.fontstyle {
    font-style: oblique;
    font-weight: bold;
    font-size: .25em;
    
}
.fontfamily {
    font-size: 40px;
    font-family: 'Sedgwick Ave Display', cursive;


}
.newfont {
    font-family: 'Delius Unicase', cursive;
font-family: 'Cutive Mono', monospace;
}
